.techlist {
  width: 20%;
  float: left;
  background-color: #f2f2f2f2;
}
.repolist {
  width: 80%;
  float: right;
  overflow: scroll;
}
.hide {
  display: none;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20;
}
.message {
  display: flex;
  flex-direction: column;
  padding-left: 45;
}
